$modalName: 'modal';
$backdropName: 'modal-backdrop';
$modalDialogName: 'modal-dialog';
$modalContentName: 'modal-content';
$loaderName: 'modal-loader';
$closeModalName: 'close';
$loadInsideName: 'load-inside';

.modal-centered {
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	align-items: center !important;
	display: flex !important;
	min-height: calc(100% - (0.5rem * 2));
}

.modal-open {
	overflow: hidden;
}

.modal-open .#{$modalName} {
	overflow-x: hidden;
	overflow-y: auto;
}

.#{$modalName} {
	overflow: hidden;
	position: fixed;
	z-index: 1050;
	display: none;
	outline: 0;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;

	.#{$closeModalName} {
		cursor: pointer;
	}

	&.fade {
		transition: opacity 0.15s linear;
	}

	&.fade {
		transition: -webkit-transform 0.3s ease-out;
		transition: transform 0.3s ease-out;
		transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
		-webkit-transform: translate(0, -25%);
		transform: translate(0, -25%);
	}

    &.fade.show,
	&.show {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

.#{$modalDialogName} {
    pointer-events: none;
    margin: 2.75rem auto;
    position: absolute;
    max-width: 800px;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
}

.#{$modalContentName} {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);;
    will-change: width, height, opacity;
    transition: all .2s ease-in-out;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
    background-clip: padding-box;
    -ms-flex-direction: column;
    flex-direction: column;
	background-color: #fff;
    pointer-events: auto;
	display: -webkit-box;
	display: -ms-flexbox;
    position: relative;
    margin: 0 auto;
	display: flex;
    width: 100%;
	outline: 0;

	&.loading {
		background: #fff;
		max-height: 50px;
		max-width: 50px;
		margin: 0 auto;
		height: 100%;
		width: 100%;
	}
}

.#{$backdropName} {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
	transition: opacity 0.15s linear;

	&.fade {

		opacity: 0;
	}

    &.fade.show,
	&.show {
		opacity: 0.5;
	}
}

.#{$modalName}-header{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 1rem;
	border-bottom: 1px solid #e9ecef;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;

	.close {
		padding: 1rem;
		margin: -1rem -1rem -1rem auto;
	}
}

.#{$modalName}-title {
	margin-bottom: 0;
	line-height: 1.5;
}

.#{$modalName}-body {
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1rem;
}

.#{$modalName}-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 1rem;
	border-top: 1px solid #e9ecef;

	& > :not(:first-child) {
		margin-left: .25rem;
	}

	& > :not(:last-child) {
		margin-right: .25rem;
	}
}

@media (min-width: 576px) {
	.#{$modalDialogName} {
		max-width: 500px;
		margin: 1.75rem auto;
   	}

	.modal-centered {
		min-height: calc(100% - (1.75rem * 2));
   	}

	.modal-sm {
		max-width: 300px;
   	}
}

@media (min-width: 992px) {
	.modal-lg {
		max-width: 800px;
   	}
}
