/**
 * 	Modal styles
 */

$modal-overlay: #4d4d4d !default;
$modal-imgPath: 'imgs' !default;

	.modal-window {
		display: none;
		padding: 20px 0;
		margin: 0 auto;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1550;
		width: 100%;

		&.fixed {
			position: fixed;
		}

		&.loading{
			background: #fff;
			height: 40px;
			width: 40px;
			margin: 0 auto;
			overflow: hidden;
		}

		&.loaded{
			-webkit-transition: margin .3s ease, width .3s ease, height .3s ease;
			-moz-transition: margin .3s ease, width .3s ease, height .3s ease;
			-ms-transition: margin .3s ease, width .3s ease, height .3s ease;
			-o-transition: margin .3s ease, width .3s ease, height .3s ease;
			transition: margin .3s ease, width .3s ease, height .3s ease;
			height: auto;
		}
	}

	.modal-overlay {
		background: $modal-overlay;
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1500;
		zoom: 1;
		-moz-opacity: 0.8;
		-khtml-opacity: 0.8;
		filter: alpha(opacity=80);
		opacity: 0.8;

		&.static,
		&.fixed {
			position: fixed;
		}
	}

	.modal-container{
		background: #fefefe;
		margin: 0 auto;
		padding: 0;
		min-height: 250px;
		width: 600px;
	}

	.modal-loader {
		background: #fff url("#{$modal-imgPath}/modal-spinner.gif") no-repeat center center;
		display: none;
		height: 40px;
		width: 40px;
		position: fixed;
		top: 50%;
		left: 50%;
		margin-top: -20px;
		margin-left: -20px;
		padding: 3px;
		opacity: .6;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		-webkit-box-shadow: 0 0 8px -1px #2b2b2b;
		-moz-box-shadow: 0 0 8px -1px #2b2b2b;
		box-shadow: 0 0 8px -1px #2b2b2b;
	}

	.close-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 10px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		text-transform: lowercase;
	}

/*
 * ================================
 * 	_Skins
 * ================================
 */

	.modal.modal-transparent {
		background: transparent;
		padding: 0;
	}

	.modal.modal-transparent .modal-container {
		background: transparent;
		border: none;
		padding: 0;
		height: auto;
		width: auto;
	}

	.modal.modal-wide {
		width: 100%;
		padding: 20px 0;
	}
